@using GerenciarJogos.Common.Constantes
@{
    ViewBag.Title = ConstantesGerais.TITULO_INDEX;
}

<div class="col-md-12 text-center" style="padding-bottom:100px;">
    <h1 style="padding-bottom:50px;"><b>GERENCIAR JOGOS</b></h1>
    <img src="~/Content/Imagem/logo.png" alt="Alternate Text" height="500" width="500">
</div>

